
body{
     background-color: teal;
}

nav{
    color: white;
    justify-content: space-between;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h2{
    text-align: center;
}